
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}
html {
   // hamon 10px ya 1 rem hast be darsad
   font-size: 62.5%;
}
body {
   box-sizing: border-box;
}